#petAddBox {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
}

#faceBox {
    margin: 0 auto;
}

#photo {
    height: 90%;
}

.facePhoto {
    border-radius: 100%;
    margin-top: 40px;
}
.form-control{
    visibility: hidden;
}
#faceBox img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

#faceBox:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    border: 3px solid #d627708e;
}

#photoChange {
    text-align: center;
    font-weight: bold;
    color: #a638f0;
    height: 40px;
    line-height: 40px;

}

#inforBox {
    width: 90%;
    padding: 30px;
    text-align: center;
    background-color: rgba(221, 29, 238, 0.055);
    border-radius: 20px;
    margin: 0 auto;
}

.inforContentBox {
    width: 85%;
    font-size: 1.2rem;
    height: 38px;
    border: 1px solid #efefef;
    border-radius: 7px;
    margin-bottom: 10px;
}

.infoContentBox3 {
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.userInforGroup2 {
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

#setBox {
    margin: 0 auto;
}

/* 버튼 효과 */
.sujung {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.sujung:hover {
    background-color: rgba(188, 40, 218, 0.74);
    box-shadow: 0px 15px 20px rgba(162, 40, 218, 0.267);
    color: #fff;
    transform: translateY(-3px);
}

.bye {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.bye:hover {
    background-color: rgba(188, 40, 218, 0.74);
    box-shadow: 0px 15px 20px rgba(162, 40, 218, 0.267);
    color: #fff;
    transform: translateY(-3px);
}

input:focus {
    outline: none;
}


/* 스마트폰 크기의 화면 */
@media screen and (min-width: 370px) and (max-width: 848px) {
    #petAddBox {
        grid-template-columns: 1fr;
    }

    .post_image_upload {
        height: 450px;
    }

    .facePhoto {
        width: 300px;
        height: 300px;
        border-radius: 150px;
    }

    #inforBox {
        width: 95%;
    }

    .userInforGroup3 {
        float: left;
        margin-left: 5%;
    }

    .userInforGroup2 {
        float: left;
        margin-left: 5%;
        font-size: 1rem;
        padding-bottom: 10px;
        padding-left: 13px;
    }

    .selectBox {
        font-size: 0.8rem;
        /* padding-left: */
    }

    .sujung {
        font-size: 1rem;
    }

    .bye {
        font-size: 1rem;
    }
}

/* 850 이상(태블릿 화면 이상)에서는 4등분 */
@media screen and (min-width: 850px) {
    #petAddBox {
        grid-template-columns: 1fr 1fr;
    }

    .facePhoto {
        width: 300px;
        height: 300px;
        border-radius: 200px;
    }

    .inforContentBox {
        margin-bottom: 20px;
    }

    .userInforGroup2 {}

    #inforBox {
        margin-top: 30px;
    }

    .inforTitle {}

    .inforContent {}

    .dogInfor {
        margin-bottom: 5px;
    }

    .introInfor {
        margin-top: 5px;
    }

    .sujung {
        font-size: 1rem;
    }

    .bye {
        font-size: 1rem;
    }
}