* {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

#main {
    width: 100%;
    height: 100vh;
    /* background-color: rgb(250, 185, 196); */
    background-color: rgb(255, 255, 255);
    /* background-image: url(../1.jpg); */
    /* background-size: cover; */
}

.tab-box {
    background: #642B73;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav ul li :hover {
    color: rgb(104, 5, 27);
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.tab-box {
    width: 100%;
    height: 50px;
    background-color: rgba(68, 10, 19, 0.733);
    line-height: 80px;
}

/* .popular {
    float: left;
}

.newsfeed {
    float: right;
} */

nav ul li {
    text-anchor: middle;
}