#uploadBox {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    background-color: rgba(221, 29, 238, 0.055);
    border-radius: 30px;
    padding-top:15px;
}

#photoBox {
    margin: 0 auto;
}

.post_image_upload {
    width: 90%;
    padding: 2rem;
}

.post_image_upload .form-control {
    display: none;
}
.post_image_upload .file-input {
    display: none;
}
.post_image_upload .input-group-text {
    float: left;
}
/* .post_image_upload .upload-image {
    padding-top: 1rem;
    width: 350px;
    height: 350px;
} */

.post_image_upload .upload-image img {
    /* 게시물 업로드 이미지 미리보기 크기조정 */
    width: 350px;
    height: 350px;
}

#photo {
    width: 90%;
    height: 90%;
}

/* 제목 내용 해시태그 부분 */

#title {
    width: 100%;
    text-align: center;
}

#postTitle {
    display: inline-block;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.836);
    background-color: white;
    width: 90%;
    height: 50px;
    line-height: 50px;
    border-radius: 16px;
}

#content {
    width: 100%;
    text-align: center;
}

#postContent {
    background-color: rgba(255, 255, 255, 0.836);
    width: 90%;
    height: 170px;
    border-radius: 16px;
    margin-top: 10px;
}

#hashtags {
    width: 100%;
    text-align: center;
}

#hashtag {
    background-color: rgba(255, 255, 255, 0.836);
    width: 90%;
    height: 50px;
    border-radius: 16px;
    margin-top: 10px;
}

input:focus {
    outline: none;
}

#public {
    text-align: center;
    width: 100%;
    height: 55px;
    margin-top: 10px;
}

#upload {
    width: 100%;
    text-align: center;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    outline: 0;
}

.saveButton {
    width: 40px;
    margin-bottom: 10px;
}

.saveButton:hover {
    animation: saveButton-ani 1s forwards;
    transform: scale(1.2);
}

@keyframes saveButton-ani {
    0% {
        opacity: 0.8;
        transform: scale(0.95);
    }

    50% {
        opacity: 1;
        transform: scale(1.3);
    }

    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}

/* 스마트폰 크기의 화면 */
@media screen and (max-width: 375px) {
    #uploadBox {
        grid-template-columns: 1fr;
        /* height: 580px; */
    }
    .post_image_upload .upload-image img{
        width: 280px;
        height: 280px;
    }
}

/* 850 이상(태블릿 화면 이상)에서는 4등분 */
@media screen and (min-width: 850px) {
    #uploadBox {
        grid-template-columns: 1fr 1fr;
    }
}
